<apex:page showHeader="false" sidebar="false" docType="html-5.0" applyHtmlTag="false" applyBodyTag="false" standardStylesheets="false">
	<span ng-click="step.activate($event)" ng-class="{active:step.active}">{{step.name}}</span>
    <!-- checked: (step.form && !step.form.$invalid && !step.form.$pristine) -->
    <span class="glyphicon glyphicon-ok" ng-show="step.form.$valid || (!step.isSubstep() && step.allSubstepsValid())"></span>
</apex:page>